* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#heading {
  margin-top: 20px;
  text-align: center;
  margin-bottom: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 700px;
}
/* mainly used to just keep the extra buttons next to the main container */
#outer-container {
  display: flex;
  flex-direction: row;
  margin-bottom: auto;
  height: 700px;
  /* just keeps the height strict */
}

#buttons-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Change this to select the divs instead of button when i add them after*/
#buttons-container .button-segments {
  display: flex;
  flex: 1;
}

.button-segments button {
  flex: 1;
  background-color: #66ccff;
}

#extra-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

.outer-buttons {
  flex: 1;
  width: 100px;
  font-size: 30px;
  margin: 2px 0;
  background-color: #ccff99;
}

#display {
  font-weight: bolder;
  font-size: xx-large;
  display: flex;
  height: 50px;
  margin-bottom: 5px;
  border: 2px solid black;
}
